body{
    background-color: rgb(43, 189, 226);
    color: aliceblue;
}
nav{
    text-align: center;
    font-size: 36px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 36px;
}
p{ 
    font-size: 30px;
}
small{
    font-size: 20px;
    
}
a:hover{
    background-color: rgb(121, 59, 179);
}
